body{
    background-color: black;
    color: white;
}
.input-group{
    display: flexbox;

    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}
h2{
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
a{
    display: flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-top: 40px;
}

.coder{
    background-color: rgba(255, 255, 0, 0.872);
    border-radius: 12px;
    color: black;
    padding: 8px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.error{
    display: block;
    text-align: center;
    color: red;
}
#centre{
    margin-top: 100px;
    display: block;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
h3{
    color: yellow;
}
p{
    display: block;
    color: white;
    text-align: center;
}
.msjError{
    display: block;
    text-align: center;
}